@charset "UTF-8";

@font-face {
    font-family: "Android";
    src: url(fontes/idroid.otf) format('opentype');
    font-weight: normal;
    font-style: normal;
}

body {
    background-color: #3ddc84;
}

:root {
    --cor0: #c5ebd6;
    --cor1: #83E1ad;
    --cor2: #3ddc84;
    --cor3: #2fa866;
    --cor4: #1a5c37;
    --cor5: #063d1e;
    --fonte0: Arial, Helvetica, sans-serif;
    --fonte1: 'Bebas Neue', cursive;
    --fonte2: 'Android', sans-serif;
}

main {
    background-color: white;
    margin: auto;
    padding: 20px;
    min-width: 400px;
    max-width: 800px;
    font-family: var(--fonte0);
    text-align: justify;
}

header {
    height: 200px;
    font-family: var(--fonte0);
    background-image: linear-gradient(to top, var(--cor4), var(--cor3));
    margin: auto;
    color: white;
    text-align: center;
}

h1#titulo {
    font-family: var(--fonte0);
    color: white;
}

nav {
    text-decoration: none;
    color: white;
    font-weight: bold;
    text-align: left;
    padding: 5px;
}

h1 {
    font-size: 1.8em;
    font-family: var(--fonte2);
    color: green;
}

h2 {
    font-family: var(--fonte2);
    font-size: 1.3em;
    color: green;
    background-image: linear-gradient(to right, var(--cor0), white);
    
}



a {
    font-display: normal;
    font-weight: normal;
    font-style: normal;
}